h2 {
  position: absolute;
  color: #bdc3d4;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(0%) translateX(-50%);
}

.Login_Page_h1 {
  position: absolute;
  color: #bdc3d4;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
}
