.Float_Social {
  background-color: var(--BgColor1);
  border: 2px solid var(--BorderColor1);
  position: fixed;
  display: inline-flex;
  top: 20px;
  height: 30px;
  left: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 10;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px var(--Shadow);
}
.Float_Social #discord:hover {
  background-color: var(--DiscordColor);
  cursor: pointer;
}
.Float_Social #x-twitter:hover {
  background-color: var(--X_TwitterColor);
  cursor: pointer;
}
.Float_Social #youtube:hover {
  background-color: var(--YoutubeColor);
  cursor: pointer;
}

.Float_Social img {
  width: 24px;
  height: 24px;
  margin: 6px;
  border-radius: 20px;
  background-color: var(--BgColor4);
  transition: 0.3s;
}

.Float_Social img:first-child {
  margin-left: 0px;
}
.Float_Social img:last-child {
  margin-right: 0px;
}
