.Float_Account {
  background-color: var(--BgColor1);
  border: 2px solid var(--BorderColor1);
  position: fixed;
  top: 20px;
  height: 30px;
  width: 30px;
  right: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 10;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px var(--Shadow);
}
.Float_Account:hover {
  transform: scale(1.1);
}

.Float_Account img {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
}
