.Background_One,
.Background_Two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------ Background One ------ */

.Background_One img {
  object-fit: cover;
  image-rendering: pixelated;
}
.Background_One .Effect_BG {
  position: absolute;
  bottom: 0;
  background-color: var(--BgColor1);
  width: 100%;
  height: 120px;
}
.Background_One .Effect_Gradient {
  position: absolute;
  bottom: 120px;
  background: var(--BackEffect);
  width: 100%;
  height: 150px;
}

/* ------ Background Two ------ */

.Background_Two img {
  position: absolute;
  object-fit: cover;
  image-rendering: pixelated;
  bottom: 290px;
}
.Background_Two .Effect_BG {
  position: absolute;
  bottom: 0;
  background-color: var(--BgColor1);
  width: 100%;
  height: 680px;
}
.Background_Two .Effect_Gradient {
  position: absolute;
  bottom: 680px;
  background: var(--BackEffect);
  width: 100%;
  height: 150px;
}
