.Float_Navbar {
  position: fixed;
  z-index: 10;
  top: 20px;
  display: inline-flex;
  background-color: var(--BgColor1);
  border-radius: 20px;
  height: 30px;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  border: 2px solid var(--BorderColor1);
  box-sizing: border-box;
  box-shadow: 0 0 10px var(--Shadow);
}

.Float_Navbar button,
.Float_Navbar input {
  background-color: var(--BgColor4);
  border: 0 solid var(--BgColor4);
  border-radius: 20px;
  position: relative;
  width: 150px;
  height: 26px;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s, border 0.8s;
  outline: none;
}

.Float_Navbar button:first-child,
.Float_Navbar input:first-child {
  margin-left: 0px;
}
.Float_Navbar button:last-child,
.Float_Navbar input:last-child {
  margin-right: 0px;
}

.Float_Navbar button,
.Float_Navbar input,
.Float_Navbar input::placeholder {
  color: var(--TextColor2);
  text-align: center;
  font-weight: 600;
}

.Float_Navbar img {
  position: relative;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  border: 0;
}

/* ------ Funções ------ */

.Float_Navbar button:focus-visible,
.Float_Navbar input:focus-visible,
.Float_Navbar button:hover,
.Float_Navbar input:hover {
  background-color: var(--BgColor5);
  border-width: 3px;
  border-color: var(--BgColor5);
  transition: all 0.3s, border 0.1s;
}

.Float_Navbar button:hover,
.Float_Navbar input:hover,
.Float_Navbar input:focus-visible,
.Float_Navbar input:has(.Float_Navbar input:hover)::placeholder {
  color: var(--TextColor1);
  text-align: center;
  font-weight: 600;
}
