.Float_ClockBar_Frame {
  position: fixed;
  z-index: 9;
  height: 18px;
  width: 80px;
  background-color: #0d0f12;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #272d35;
  box-sizing: border-box;
  left: 50%;
  transition: 1s;
  top: 47px;
  transform: translateX(-50%);
  display: flex;
  border-radius: 0px 0px 20px 20px;
}
.Float_ClockBar_Frame_Min {
  position: fixed;
  z-index: 9;
  height: 18px;
  width: 80px;
  background-color: #0d0f12;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #272d35;
  box-sizing: border-box;
  left: 50%;
  transition: 1s;
  top: 47px;
  transform: translateX(-50%);
  display: flex;
  border-radius: 0px 0px 20px 20px;
}
.Float_ClockBar_Frame p,
.Float_ClockBar_Frame_Min p {
  font-weight: 600;
  font-size: 0.7rem;
  color: rgba(189, 195, 212, 0.5);
  margin: auto;
}
