@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

:root {
  --White: #ffffff;

  --BgColor: rgba(18, 19, 22, 0.941);
  --BgColor1: #181a20;
  --BgColor2: #1d1e24;

  --ButtonDisabled: #121419;
  --ButtonCyan: #0d9da3;

  --ButtonNotificationNext: #3b9e93;
  --ButtonNotificationCancel: #893843;

  --TextColor1: #bdc3d4;
  --TextColor2: #9ca1b0;
  --TextColor3: #7f8494;
  --TextColor4: #7b7f8c;
  --TextColor5: #5a5e68;
  --TextColor6: #3a3c43;
  --TextColor7: #333844;

  --TextNotification: #5a5e68;
  --TextNotificationSuccess: #35765e;
  --TextNotificationError: #74262b;

  --ShadowB25: #00000040;

  font-family: "Alexandria", sans-serif;
}

input::placeholder,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alexandria", sans-serif;
}
