body {
  background: var(--BgColor1);
  color: var(--TextColor1);
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

.scene {
  width: 100%;
  height: 100%;
  position: fixed;
}

#root {
  width: 100%;
}
